SERVER_ADDR=:8081
AUTO_BOOTSTRAP=false

KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_ISSUER_URL=http://localhost:8080/realms/vinculum
KEYCLOAK_ADMIN_REALM=master
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_REALM=vinculum
KEYCLOAK_FORGEJO_ADMIN_GROUP=forgejo_admins
KEYCLOAK_BOOTSTRAP_USERNAME=picard
KEYCLOAK_BOOTSTRAP_PASSWORD=picard
KEYCLOAK_FORGEJO_CLIENT_ID=forgejo
KEYCLOAK_FORGEJO_REDIRECT_URIS=http://localhost:3000/user/oauth2/*
KEYCLOAK_FORGEJO_WEB_ORIGINS=http://localhost:3000

FORGEJO_BASE_URL=http://localhost:3000
FORGEJO_PUBLIC_URL=http://localhost:3000
FORGEJO_ADMIN_USERNAME=forgejo_admin
FORGEJO_ADMIN_PASSWORD=forgejo_admin
FORGEJO_ORG_NAME=vinculum
FORGEJO_ORG_VISIBILITY=private
FORGEJO_AUTH_SOURCE_NAME=Vinculum
FORGEJO_POD_NAMESPACE=vinculum-infra
FORGEJO_POD_LABEL_SELECTOR=app.kubernetes.io/instance=vinculum-infra,app.kubernetes.io/name=forgejo
